<div class="input-group mb-3">
  <form
    action="
    "
    method="post"
  >
    <input
      type="text"
      class="form-control"
      name="q"
      placeholder="Nhập từ khóa"
      aria-label="Example text with two button addons"
    />
    <button type="submit">Tìm kiếm</button>
  </form>
</div>